.main_container {
    background-image: url(./Image/apiDogs1.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    animation-name: Sliden;
    animation-duration: 1.5s;
}

.container {
    background-color: rgba(110, 110, 110, 0.25);
    border-radius: 25px;
    box-shadow: inset -7px -5px 10px 1px rgba(99, 61, 61, 0.5);
    display: grid;
    position: absolute;
    padding: 10px;
    right: 8px;
    animation-name: form;
    animation-duration: 1.5s;
}

.container h1 {
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(99, 61, 61, 0.5);
    padding-bottom: 20px;
}

.container h3 {
    font-size: 20px;
    padding-bottom: 15px;
    text-shadow: 3px 3px 2px rgba(99, 61, 61, 0.5);
}

#paragraph {
    color: white;
    font-style: italic;
    font-size: 14px;
    text-shadow: 3px 3px 2px rgba(99, 61, 61, 0.8);
}

#button {
    width: 70%;
    background-color: rgb(206, 224, 215);
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    text-shadow: 3px 2px 2px rgba(99, 61, 61, 0.5);
}

#button:hover {
    box-shadow: 2px 4px rgba(0,0,0,0.6);
    color: white;
    background-color: #25b687;
}

#button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.container_icon {
    display: flex;
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.icon {
    padding: 0px 5px;
    font-size: 25px;
    color: black;
}

.icon:hover {
    color: #25b687;
}

@keyframes Sliden {
    from {
        margin-right: 100%;
        width: 0%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

@keyframes form {
    from {
        transform: scale(0.2) rotate(90deg);
    }

    to {
        transform: scale(0.93) rotate(0deg);
    }
}